.accordion__button {
	position: relative;
	background-color: #dcd6f7;
	color: #424874;
	padding: 1rem 1.5rem;
	width: 100%;
	border: none;
	outline: none;
}

.accordion__button:hover {
	background-color: #a6b1e1;
	cursor: pointer;
}

.accordion__button:before {
	position: absolute;
	content: '+';
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	margin-right: 1rem;
	font-size: 1.5rem;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
	position: absolute;
	top: 50%;
	right: 0;
	content: '-';
	margin-right: 1rem;
	font-size: 1.5rem;
}

[hidden] {
	display: none;
}

.accordion__panel {
	padding: 20px;
	animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.accordion__button:before {
		font-size: 2rem;
		top: 45%;
	}
	.accordion__button[aria-expanded='true']::before,
	.accordion__button[aria-selected='true']::before {
		font-size: 2rem;
	}
}
